.racetrack {
  border: 2px solid black;
  background: url("../images/grassTrack.jpg");
  background-size: 80%;
  background-position: center;
  height: 50em;
  width: 100%;
  background-repeat: no-repeat;
  padding: 0;
  position: relative;
  display: inline-block;
}

.car_one {
  background-image: url("../images/car1.png");
  z-index: 1;
  background-size: 100%;
  height: 80px;
  width: 160px;
  position: absolute;
  top: 320px;
  left: 160px;
  margin: 0;
  background-repeat: no-repeat;
}

.car_two {
  background-image: url("../images/car2.png");
  z-index: 1;
  background-size: 100%;
  height: 80px;
  width: 160px;
  position: absolute;
  top: 450px;
  left: 160px;
  margin: 0;
  background-repeat: no-repeat;
}

.scoreboard {
  border: 5px solid black;
  width: 100;
  height: 50em;
}

button {
  height: 20em;
  width: 10em;
}

.score_one {
  float: left;
  border: 5px solid black;
  width: 10em;
  height: 50em;
  font-size: 50px;
}

 .score_two {
   float: right;
   border: 5px solid black;
   width: 10em;
   height: 50em;
   font-size: 50px;
 }
